.home-parent{
    background-color:#efefef;
    height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-punches{
    background-color: #fcfcfc;
    width:70%;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    flex-direction: row;
}