html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* Because we imported open sans font we can use it here */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
  /* Really important to know whats happening here. box-sizing can save you a lot of hassle */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.header-parent {
  width: 100%;
  height: 150px;
  background-color: #292F36;
  bottom: 90%; }

.header-image {
  height: 80%;
  width: 350px;
  background-image: url("logo.svg");
  display: flex;
  justify-content: flex-start; }

.home-parent {
  background-color: #efefef;
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 20%; }

.display-punches {
  background-color: #fcfcfc;
  height: 45px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  margin-top: 10px; }

.edit-punch-home {
  background-color: #007FBA;
  color: #fcfcfc;
  border: 0;
  height: 30px;
  width: 80px;
  font-family: 'Cinzel',serif;
  font-size: 125%;
  border-radius: 2px; }

.delete-punch-home {
  background-color: #8C271E;
  color: #fcfcfc;
  border: 0;
  height: 30px;
  width: 100px;
  font-family: 'Cinzel',serif;
  font-size: 120%;
  border-radius: 2px; }

.link-to-new-button {
  margin-top: 10px;
  background-color: #007FBA;
  color: #fcfcfc;
  border: 0;
  height: 35px;
  width: 150px;
  font-family: 'Cinzel',serif;
  font-size: 125%;
  border-radius: 2px; }

h3 {
  font-family: 'Cinzel',serif; }

h4 {
  font-family: 'Oswald', sans-serif; }

.editpunch-parent {
  background-color: #efefef;
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 20%; }

.editpunch-child {
  background-color: #fcfcfc;
  height: 200px;
  width: 70%; }

.editpunch-save-button {
  background-color: #007fba;
  color: #fcfcfc;
  border: 0;
  height: 25px;
  border-radius: 2px;
  width: 200px;
  font-family: 'Cinzel',serif;
  font-size: 130%; }

.editpunch-cancel-button {
  background-color: #8c271e;
  color: #fcfcfc;
  border: 0;
  height: 25px;
  border-radius: 2px;
  width: 150px;
  font-family: 'Cinzel',serif;
  font-size: 125%; }

.newpunch-parent {
  background-color: #efefef;
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 20%; }

.newpunch-child {
  background-color: #fcfcfc;
  height: 200px;
  width: 70%; }

.date-and-day {
  width: 100%;
  display: inline-flex;
  justify-content: space-around; }

.punch-time {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 2%; }

.newpunch-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-top: 3%; }

.newpunch-buttons button {
  margin: 10px; }

.newpunch-create-button {
  background-color: #007fba;
  color: #fcfcfc;
  border: 0;
  height: 25px;
  border-radius: 2px;
  width: 200px;
  font-family: 'Cinzel',serif;
  font-size: 130%; }

.newpunch-cancel-button {
  background-color: #8c271e;
  color: #fcfcfc;
  border: 0;
  height: 25px;
  border-radius: 2px;
  width: 150px;
  font-family: 'Cinzel',serif;
  font-size: 125%; }

.newpunch-time-hours-minutes {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  width: 100%; }

input {
  font-family: 'Cinzel',serif; }

select {
  box-shadow: 0 2px 4px rgba(41, 47, 54, 0.5);
  font-family: 'Oswald', sans-serif; }

h2 {
  margin: 5px;
  font-family: 'Cinzel',serif; }

h1 {
  margin: 5px;
  font-family: 'Oswald', sans-serif; }

h4 {
  font-family: 'Cinzel',serif; }
